/* Återställ standardstilar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globala stilar */
body {
    font-family: poppins, sans-serif;
    line-height: 1.5;
    background-color: #a7967b;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

main {
    width: 1200px;
    margin: auto;
    background-color: #56483b;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

/* Stilar för sidhuvud */
.header {
    background-color: #56483b;
    padding: 10px;
}

.navigation__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__logo img {
    width: 100%;
    height: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navigation__list {
    list-style-type: none;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.navigation__item {
    margin: 0 10px;
    font-size: 22px;
}

.navigation__item a {
    text-decoration: none;
    color: #ffffff;
}

/* Stilar för hjältesektion */
.hero {
    background-image: url("assets/photos/05-night.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero__description {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero__btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a7967b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}

/* Stilar för om-sektionen */
.about {
    padding: 50px;
}

.about__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.about__description {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Stilar för rum-sektionen */
.rooms {
    padding-left: 50px;
    padding-right: 50px;
}

.rooms__title {
    font-size: 24px;
    margin-bottom: 20px;
}



.room__image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.room__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.room__description {
    font-size: 16px;
    margin-bottom: 10px;
}

.room__price {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Stilar för kontaktsektionen */
.contact {
    padding: 50px;
}

.contact__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact__description {
    font-size: 16px;
    margin-bottom: 30px;
}

.contact__form input,
.contact__form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact__form button {
    padding: 10px 20px;
    padding: 6px 20px;
    background-color: #a7967b;
    color: #fff;
    font-size: 22px;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
}

/* Stilar för sidfoten */
.footer {
    background-color: #56483b;
    padding: 10px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.gallery__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__image {
    width: 550px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery__image:hover {
    transform: scale(1.1);
    

   
}

.search {
    padding: 50px;
}

.search__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.search__input {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.search__button {
    padding: 6px 20px;
    background-color: #a7967b;
    color: #fff;
    font-size: 22px;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
}

.search-results {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
}



.room {
    margin-bottom: 20px;
    
    

}

.room__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.room__description {
    font-size: 16px;
    margin-bottom: 10px;
}

.room__price {
    font-size: 16px;
    margin-bottom: 10px;
}

.room__button {
    padding: 6px 20px;
    background-color: #56483b;
    color: #fff;
    font-size: 22px;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
}

.book__room {

    margin-bottom: 20px;
    background-color: #a7967b;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
